<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/head :: head(title = ~{::title/text()})}">
    <title>Default Title</title>
</head>

<body id="top">

    <main>
        <!-- Header -->
        <header th:replace="~{fragments/header :: header}"></header>

        <!-- Page specific content -->
        <div layout:fragment="content">
            <!-- This will be replaced by the content of each page -->
        </div>

    </main>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <!-- Scripts -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>